.login-content {
  --background: #0e0e11;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.login-card {
  background: #18181b;
  border-radius: 1rem;
  padding: 2rem;
  width: 90%;
  max-width: 380px;
  text-align: center;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}

.login-icon {
  background: #6d28d9;
  color: white;
  font-size: 2rem;
  border-radius: 1rem;
  width: 60px;
  height: 60px;
  margin: 0 auto 1rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-title {
  color: #fff;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.login-subtitle {
  color: #a1a1aa;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

.input-group {
  text-align: left;
  margin-bottom: 1rem;
}

.input-group label {
  color: #c4c4c4;
  font-size: 0.8rem;
  display: block;
  margin-bottom: 0.3rem;
}

.input-group input {
  width: 100%;
  background: #27272a;
  border: none;
  border-radius: 0.5rem;
  padding: 0.75rem;
  color: #fff;
  font-size: 0.9rem;
}

.password-wrapper {
  position: relative;
}

.eye-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #a1a1aa;
  font-size: 1.2rem;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  color: #a1a1aa;
  margin-bottom: 1.5rem;
}

.remember input {
  margin-right: 0.3rem;
}

.forgot {
  color: #7c3aed;
  text-decoration: none;
}

.login-button {
  --background: #7c3aed;
  --border-radius: 0.6rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a1a1aa;
  font-size: 0.75rem;
  margin: 1.2rem 0;
}

.divider::before,
.divider::after {
  content: '';
  flex: 1;
  height: 1px;
  background: #27272a;
  margin: 0 10px;
}

.social-buttons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.google,
.github {
  flex: 1;
  --border-radius: 0.5rem;
  --background: #27272a;
  color: #fff;
  text-transform: none;
  font-weight: 500;
}

.icon-img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  vertical-align: middle;
  filter: brightness(0) invert(1); /* mantiene el color blanco sobre fondo oscuro */
}