.main-header-toolbar {
  --background: #1a1a1a;
  --color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.header-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.game-logo {
  height: 38px;
  width: 38px;
  margin-right: 10px;
  border-radius: 50%;
}

.game-title {
  font-size: 1.3rem;
  font-weight: 600;
  color: #c5a3ff; /* morado sutil */
  text-transform: uppercase;
  text-align: center;
}

ion-icon {
  font-size: 1.8rem;
}
