<ion-header class="custom-header">
  <ion-toolbar>

    <!-- 🔹 Logo -->
    <ion-buttons slot="start" class="left-section">
      <img *ngIf="logoUrl; else backBtn" [src]="logoUrl" alt="Logo" class="logo" />
      <ng-template #backBtn>
        <ion-back-button defaultHref="/" text=""></ion-back-button>
      </ng-template>
    </ion-buttons>

    <!-- 🔹 Título -->
    <ion-title class="title">{{ title }}</ion-title>

    <!-- 🔹 Usuario o Perfil -->
    <ion-buttons slot="end" class="right-section">
      <img
        *ngIf="userPhotoUrl; else defaultIcon"
        [src]="userPhotoUrl"
        alt="Perfil"
        class="user-photo"
      />
      <ng-template #defaultIcon>
        <ion-icon name="person-circle-outline"></ion-icon>
      </ng-template>
    </ion-buttons>

  </ion-toolbar>

